/* Colors ---------------------------------------- */

$grey-1:       rgb(17, 17, 17);         /* #111111 */
$grey-2:       rgb(34, 34, 34);         /* #222222 */
$grey-3:       rgb(51, 51, 51);         /* #333333 */
$grey-4:       rgb(68, 68, 68);         /* #444444 */
$grey-a:       rgb(170, 170, 170);      /* #aaaaaa */

$dark-red:     rgb(107, 38, 68);        /* #6b2644 */
$blue-green:   rgb(0, 140, 140);        /* #008c8c */
$light-blue:   rgb(0, 255, 255);        /* #00ffff */
$soft-blue:    rgb(224, 224, 255);      /* #e0e0ff */
$off-white:    rgb(252, 252, 252);      /* #fcfcfc */
