/* Option Buttons -------------------------------- */

#opts button {
    font-weight: bolder;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;

    /* Fit button height to input box in Firefox
    &::-moz-focus-inner {
        margin-top: -1px;
        margin-bottom: -1px;
    } */
}

#sources-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.75rem 0 1rem;
}

#filter-safe {
    position: absolute;
    right: 1rem;
    top: 4.45rem;

    &:not(.selected) {
        border-bottom-color: #ccc;
    }
    @media (min-width: 340px) {
        top: 3rem;
    }
}

#sources-browse {
    border-bottom-color: #ccc;
}
