@import 'colors';
@import 'overlay';

@mixin bg-icon ($id, $icon, $pos: null) {
    ##{$id} {
        background-image: url('/images/icons/#{$icon}.svg');
        background-position: $pos;
    }
}

/* Controls -------------------------------------- */

#ctrls {
    display: block;

    &.trans-faster {
        transition: opacity 300ms;
    }

    button {
        padding: 0;
        border: 0;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 0.5px rgba($grey-2, 0.8));
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        outline: 0;

        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    & > div {
        @extend %overlay;
    }
}

%button-dimensions {
    width: 26px;
    height: 26px;
    min-width: 26px;
    min-height: 26px;
}

#ctrls-top {
    z-index: 1;
}

#ctrls-top button {
    @extend %button-dimensions;

    @media (min-width: 520px) {
        width: 5vw;
        height: 5vw;
    }
    @media (min-width: 800px) {
        width: 40px;
        height: 40px;
    }
}

#ctrls-pos {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @media (min-width: 340px) {
        justify-content: space-around !important;
    }

    & > button {
        @extend %button-dimensions;

        @media (min-width: 260px) {
            width: 10vw;
            height: 10vw;
        }
        @media (min-width: 600px) {
            filter: drop-shadow(0 0 1px rgba($grey-2, 0.8));
        }
        @media (min-width: 720px) {
            width: 72px;
            height: 72px;
        }
    }
}

#ctrls-top-left {
    display: flex;
    align-items: center;
    flex: 0 1 60%;
    max-width: 60%;
}

#search-tags {
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    font-size: 1.2rem;
    text-shadow: 0 0 0.5px rgba(white, 0.33);
    border: 0;
    background-image: linear-gradient(to right, rgba(white, 0.5), rgba($off-white, 0));

    @media (min-width: 800px) {
        max-width: 334px;
        height: 40px;
    }
}

#ctrls-top-right {
    display: flex;
    align-items: flex-end;

    button {
        margin-left: 26px;

        @media (min-width: 520px) {
            margin-left: 5vw;
        }
        @media (min-width: 800px) {
            margin-left: 40px;
        }
    }
}

@include bg-icon(prev, arrow);
@include bg-icon(next, arrow);
@include bg-icon(pause, pause-red);
@include bg-icon(search, search, 50%);
@include bg-icon(show-opts, options);
@include bg-icon(fullscreen, fullscreen);

#prev {
    transform: scaleX(-1);
}

#search {
    margin-right: 1rem;
}

@media all and (display-mode: fullscreen) {
    #fullscreen {
        display: none;
    }
}
