/* Custom File Chooser --------------------------- */

#files {
    position: relative;
    pointer-events: none;
}

#sources-files {
    position: absolute;
    top: 0.5rem;
    right: 0;
    width: 5em;
    height: 1.8em;
    visibility: hidden;

    @media (min-width: 340px) {
        max-width: 48vw;
    }
}

#sources-browse {
    position: absolute;
    top: 0.5rem;
    right: 0;
    z-index: 1;
    pointer-events: all;
}
