/* Flickity -------------------------------------- */

.flickity-enabled {
    position: relative;

    &:focus {
        outline: none;
    }
}

.flickity-viewport {
    position: relative;
    height: 100%;
    overflow: hidden;

    #opts-nav & {
        overflow: visible;
    }

    @media (min-width: 600px) {
        width: 100%;
    }
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
            tap-highlight-color: transparent;
    user-select: none;
    outline: 0;

    .flickity-viewport {
        cursor: move;
        cursor: grab;

        &.is-pointer-down {
            cursor: grabbing;
        }
    }
}
