@import 'colors';

/* Options Glass Theme --------------------------- */

%colors {
    color: $grey-3;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(white, 0.33), rgba($off-white, 0.2));
}

.glass {
    .pane {
        border: 1px solid rgba(white, 0.33);
        background-clip: padding-box;
        background-image: linear-gradient(to right, rgba(white, 0.33), rgba($off-white, 0.2));
    }

    legend {
        color: $grey-4;
        background-image: linear-gradient(to bottom, white, rgba($off-white, 0));
    }

    button {
        @extend %colors;
        color: $grey-4;
        border: 1px outset #999;

        &.selected {
            color: $grey-3;
            background-image: linear-gradient(to right, rgba(lightyellow, 0.5), rgba(252, 252, 224, 0.33));
            border: 1px inset #999;
        }
    }

    input {
        @extend %colors;
        border: 1px inset #999;
    }

    select {
        @extend %colors;
        border: 1px inset #999;
    }

    option {
        @extend %colors;
        background-image: linear-gradient(to right, rgba(white, 0.66), rgba($off-white, 0.5));
    }
}
