@import 'colors';

/* Option Inputs --------------------------------- */

.input-box {
    flex: 1 1 100%;
    box-sizing: border-box;

    &:focus {
        color: $grey-2;
    }

    @media (min-width: 340px) {
        max-width: 48vw;
    }
    @media (min-width: 380px) {
        max-width: 54vw;
    }
    @media (min-width: 600px) {
        max-width: 210px;
    }
}

%form-box {
    padding: 0.25rem;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 0;
}

input {
    @extend %form-box;

    &[type="checkbox"] {
        margin-right: 1rem;
        cursor: pointer;
    }

    &[type="number"] {
        width: 2.5rem;
        margin-right: 1rem;
        text-align: center;
    }

    &[type="date"] {
        text-align: center;
    }

    &[disabled],
    &[disabled] + span {
        filter: blur(0.75px);
    }
}

select {
    @extend %form-box;
    max-width: 50% !important;
    text-align: center;
}
