@import 'colors';

/* Option Labels --------------------------------- */

label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
    
    #opts-picinfo &:not(.opt-select) {
        justify-content: flex-start;
        cursor: pointer;
    }

    @media (min-width: 340px) {
        flex-wrap: nowrap;
    }
}

.opt-select {
    margin-top: 0.5rem;
}

.opt-label {
    font-weight: lighter;
    letter-spacing: 0.03em;
    font-size: 0.9em;
    text-shadow: 0 0 0.5px $grey-3;
}

.opt-label-spacing {
    margin-bottom: 0.25rem;
    padding-right: 1rem;

    @media (min-width: 340px) {
        margin-bottom: 0;
    }
}

.detail {
    display: none;

    @media (min-width: 420px) {
        display: inline;
    }
    @media (min-width: 600px) {
        display: none;
    }
}
