/* Layers ---------------------------------------- */

.layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    -webkit-touch-callout: none;
    user-select: none;
    transition: opacity 1s;

    &.show {
        pointer-events: all;
    }
}

.pic {
    background-position: center;
    background-size: cover;
    transition: opacity 1s, filter 1s, transform 1s;

    &.blur {
        filter: blur(4px) brightness(0.66);
    }

    &.zoom {
        transform: scale(1.5);
    }
}

#ctrls,
#opts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
