@import 'colors';

/* Miscellaneous --------------------------------- */

body {
    margin: 0;
    overflow: hidden;
    color: rgba($off-white, 0.8);
    font: normal 20px Helvetica, 'Droid Sans', Arial, sans-serif;
    background-color: black;
    -webkit-touch-callout: none;
    user-select: none;
}

button {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.show {
    opacity: 1 !important;
}

.cols {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

::-moz-focus-inner {
    border: 0;
}
