@import 'colors';

/* Options Navigation ---------------------------- */

#opts-nav {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: -7vw;
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: 0.03em;
    text-shadow: 0 0 2px rgba($grey-2, 0.66);
    box-sizing: border-box;

    @media (min-width: 600px) and (min-height: 380px) {
        display: block;
    }
    @media (min-width: 600px) and (min-height: 420px) {
        top: 1rem;
    }
    @media (min-width: 680px) {
        margin-left: -8vw;
    }
    @media (min-width: 900px) {
        margin-left: -0.6rem;
    }

    &::after {
        @media (min-width: 600px) {
            content: 'flickity';
            display: none;
        }
    }

    .flickity-slider {
        cursor: default;
    }

    .nav-item {
        margin: 0 0.8rem;
        padding: 1rem;
        cursor: pointer;
        color: rgba($off-white, 0.66);

        @media (min-width: 680px) {
            margin: 0 1rem;
        }
        @media (min-width: 720px) {
            margin: 0 1.2rem;
        }
        @media (min-width: 800px) {
            margin: 0 1.5rem;
        }

        &.is-nav-selected {
            margin-top: -2px;
            color: rgba(lightyellow, 0.9);
            pointer-events: none;
        }
    }

    .nav-item-title {
        position: relative;
        padding-bottom: 0.25em;
    }

    .nav-item-fx {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        color: rgba($off-white, 0.66);
        transition: opacity 1s, transform 1s;
    }
}

#opts-nav.fx-up .nav-item.is-nav-selected {
    transform: translateY(-0.5rem);
}

#opts-nav.fx-in .nav-item.is-nav-selected {
    transform: scale(1.5);
}

#opts-nav.fx-up .nav-item:hover > .nav-item-title {
    border-bottom: 1px dashed rgba($off-white, 0.8);
}

#opts-nav.fx-up .nav-item.is-nav-selected > .nav-item-title {
    border-bottom: 1px dashed rgba(lightyellow, 0.8);
}

#opts-nav.fx-up .nav-item.is-nav-selected .nav-item-fx {
    opacity: 0;
    transform: translateY(-4rem);
}

#opts-nav.fx-in .nav-item.is-nav-selected .nav-item-fx {
    opacity: 0;
    transform: scale(5);
}

#opts-close {
    display: none;
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0 !important;
    border: 0;
    background-image: url('/images/icons/close.svg');
    background-repeat: no-repeat;

    @media (min-width: 600px) {
        display: block;
    }
}
