@import 'colors';

/* Options --------------------------------------- */

%non-opts-pane {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 0.03em;
    text-shadow: 0 0 0.5px $grey-3;
    cursor: pointer;
}

#opts {
    overflow: auto;

    @media (min-width: 600px) {
        flex-direction: row;
        overflow: unset;
    }

    /* The hack below forces the bottom margin on
       the bottom options pane to be applied. It’s
       not needed in carousel mode and is overridden
       by Flickity’s watchCSS functionality. */
    &::after {
        content: '';
        order: 3;
        width: 100%;
        padding-top: 0.1px;

        @media (min-width: 600px) {
            content: 'flickity';
            display: none;
        }
    }

    & > header {
        @extend %non-opts-pane;

        @media (min-width: 600px) {
            display: none;
        }
    }

    & > footer {
        @extend %non-opts-pane;
        order: 2;
        margin-bottom: 1rem;

        @media (min-width: 420px) {
            margin-bottom: 2rem;
        }
        @media (min-width: 600px) {
            display: none;
        }
    }
}

#opts > header > span:first-of-type,
#opts > footer > span:first-of-type {
    color: rgba(lightyellow, 0.9);
}
