@import 'colors';

/* Option Panes ---------------------------------- */

.pane {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: calc(100% - 4rem);
    margin-top: 1rem;
    padding: 2.5rem 1rem 1rem;
    box-shadow: 0 0 2px rgba($grey-2, 0.8);

    @media (min-width: 420px) {
        width: calc(100% - 5rem);
        margin-top: 2rem;
    }
    @media (min-width: 520px) {
        width: calc(100% - 8rem);
    }
    @media (min-width: 600px) {
        flex-grow: 1;
        width: 50%;
        max-width: 20rem;
        max-height: 15rem;
        margin: 0 5rem;
    }
}

.title {
    font-weight: bolder;
    font-style: normal;
    font-variant: small-caps;
    letter-spacing: 0.03em;
}

legend {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}
