@import 'colors';
@import 'overlay';

/* Picture Info ---------------------------------- */

.picinfo {
    @extend %overlay;
    position: absolute;
    bottom: 0;
    /* font-weight: lighter; */
    font-size: 0.8em;
    letter-spacing: 0.03em;
    text-shadow: 0 0 2px rgba($grey-1, 0.8);
    background-image: linear-gradient(rgba($grey-2, 0.5) 0, rgba($grey-4, 0.33) 100%);
    opacity: 0;
    transition: opacity 1s;

    @media (min-width: 380px) {
        font-size: 0.85em;
    }
    @media (min-width: 420px) {
        font-size: 0.9em;
    }
    @media (min-width: 520px) {
        font-size: 0.95em;
    }
    @media (min-width: 600px) and (min-height: 480px) {
        font-size: 1em;
    }
}

.picinfo-left {
    display: flex;
    flex-direction: column;
}

.picinfo-title-author {
    display: inline-block;
    margin-left: -0.25rem;
    padding-bottom: 0.3em;
}

.picinfo-title-author > span {
    margin-left: 0.25rem;
}

.picinfo-title {
    font-style: italic;
    line-height: 1.7em;
}

.picinfo-author {
    color: $grey-a;
    line-height: 1.7em;
    white-space: nowrap;
}

.picinfo-tags {
    order: 1;
    display: block;
    color: $grey-a;
    font-size: 0.7em;
    line-height: 1.4em;
}

.picinfo-right {
    display: flex;
    justify-content: flex-end;
}

.picinfo-tags.hide + .picinfo-title-author {
    padding-bottom: 0;
}

.picinfo-date {
    max-width: 100%;
    text-align: center;
    line-height: 1.7em;
}

.picinfo-date.wrap {
    min-width: 3em;
    max-width: 80%;
    margin-bottom: -0.25em;
}
