@import 'colors';

/* Option Tips ----------------------------------- */

#opts-tips {
    display: none;

    @media (min-width: 600px) and (min-height: 420px) {
        display: block;
    }
}

.opt-tip {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    font-weight: lighter;
    font-size: 0.75em;
    letter-spacing: 0.03em;
    line-height: 1.7em;
    text-shadow: 0 0 2px rgba($grey-1, 0.8);
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 480ms;

    @media (min-width: 600px) and (min-height: 480px) {
        bottom: 1rem;
        font-size: 0.85em;
    }
}

.note {
    color: rgba(lightyellow, 0.9);
    font-variant: small-caps;
}
